{% extends "MainApp/base.html" %}
{% block title %}DC2-Orders{% endblock %}
{% block content %}
{% load static %}

<div class="jumbotron">
    <table border="1" class="table">
        <thead>
        <tr>
            <td>№ Проекта</td>
            <td>Название заказа</td>
            <td>Проект</td>
            <td>Автор</td>
            <td>Дата создания</td>
            <td>Дата готовности</td>

            <td>Спецификация</td>
            <td>Просмотр</td>
        </tr>
        </thead>
        <tbody>
            {% if orders %}
            {% for order in orders %}
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.title}}</td>
                <td>{{order.project}}</td>
                <td>{{order.author}}</td>
                <td>{{order.create}}</td>
                <td>{{order.readiness}}</td>

                <td></td>

                <td><a href="{% url 'order_page_view' pk=order.pk %}">Смотреть</a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}